/* You can add global styles to this file, and also import other style files */
.tasklist{
    background-color: gray;
    text-align: left;
    border: solid gray;
    text-align: center;
    width: 50%;
    font-family: serif;
}

.newtaskdude, .current{
   background-color: #eee;
   width: 50%;
   height: 30%;
   border: solid gray;
   border-bottom: transparent;
   font-family: serif;

}

.new, .reaper{
    border: solid black;
    text-align: left;
    width: 50%;
    font-family: sans-serif;
}

input[type="text"]{
    width: 50;
    padding: 10px;
    margin: 8px, 0;
    border: 2px solid lightgray;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 9px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type="text"]:focus{
    background-color: lightcyan;
    transition-duration: 0.9s;
    border-color: black;
}


input[type="button"], .reyhen {
    padding: 10px;
    margin: 5px 5px;
    border-radius: 7px;
    border-color: green;
    color: black;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="button"], .reyhen:hover{
    transition-duration: 0.5s;
    background-color: green;
    border-color: black;
    color:white;

}

button[type="button"]{
    padding: 10px;
    margin: 5px 5px;
    border-radius: 7px;
    border-color: red;
    color: black;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button[type="button"]:hover{
    background-color: red;
    transition-duration: 0.5s;
    border-color: black;
    color: white;
}



input[type="button"]:active{
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}